* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: hsl(75, 94%, 57%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--grey-900);
}

article {
    width: 327px;
    height: 579px;
    padding: 24px;
    background: var(--grey-800);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    article {
        width: 456px;
        height: 611px;
    }
}

@media screen and (min-width: 1440px) {
    article {
        width: 384px;
    }
}

img {
    width: 88px;
    height: 88px;
    border-radius: 999px;
}

.details h1 {
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.details .address {
    font-size: 14px;
    color: var(--green);
    font-weight: 600;
}

.characteristic {
    color: white;
    font-size: 14px;
}

.socials ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
}

.socials ul li a {
    display: block;
    background-color: var(--grey-700);
    color: white;
    padding: 12px 0px;
    box-shadow: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.7s;
    width: 100%;
}

.socials ul li a:hover {
    background-color: var(--green);
    color: var(--grey-700);
}